<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Directory </label>
                <span id="bookmarkPath">D:/</span>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success pull-right" id="newBookmark">Add Bookmark</button>
                <button type="button" class="btn btn-success pull-right" id="btnOpen">Open</button>
                <button type="button" class="btn btn-success pull-right" id="btnNewFolder">New Folder</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="bookmarkData"></div>
    </div>
</div>