<!DOCTYPE html>
<html>
<head>
    <title>Bookmark App</title>
</head>
<body  style="position:absolute;height:100%;width:100%">
<div class="panel panel-default" style="height:97%;">
    <div class="panel-heading"><h4>Bookmark App</h4></div>
    <div class="panel-body">
        <div id="content"></div>
    </div>
</div>
<script type="text/javascript" data-main="main.js" src="lib/components/requirejs/require.js"></script>
<link rel="stylesheet" href="lib/components/bootstrap/dist/css/bootstrap.min.css">
</body>
</html>